---
import { Icon } from "astro-icon/components";

interface ProjectProps {
  title: string;
  description: string;
  link: string;
}

const props: ProjectProps = Astro.props as ProjectProps;
---

<div
  class="group border-[0.2px] rounded-lg my-3 border-gray-300 max-w-screen-md hover:border-gray-600 transition-all"
>
  <a href={props.link} target="_blank">
    <div class="p-3">
      <span class="flex flex-row justify-between">
        <h2
          class="transition-all duration-300 group-hover:bg-gradient-to-b from-green-400 to-emerald-500 group-hover:bg-[length:6px_6px] group-hover:bg-[6px_100%] group-hover:bg-repeat-x hover:bg-[length:6px_55px] text-2xl font-semibold"
        >
          {props.title}
        </h2>
        <Icon name="ext-link" class="hidden group-hover:block text-2xl" />
      </span>

      <p class="">{props.description}</p>
    </div>
  </a>
</div>
